@import "./node_modules/tailwindcss/base";
@import "./node_modules/tailwindcss/components";
@import "./node_modules/tailwindcss/utilities";

@keyframes shimmer {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 300px 0;
  }
}

.shimmer-effect {
  animation: shimmer 1.5s infinite;
  background: linear-gradient(
    90deg,
    rgba(243, 243, 243, 0.1),
    rgba(243, 243, 243, 0.6),
    rgba(243, 243, 243, 0.1)
  );
  background-size: 300px 100%;
}

.shimmer-content {
  height: 12px;
  margin-bottom: 10px;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 5px;
}

.shimmer-content:last-child {
  margin-bottom: 0;
}
